In [36]:
#Libraries 
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [15]:
#Loading Dataset 
data = pd.read_csv(r"C:\Users\Njuguna\Desktop\Moringa School (DB)\Core DB\Module 2 DB\Wk 2\house.csv")

In [17]:
#Creating a new dataset from the main dataset
df = data[['MSZoning','Neighborhood']]

In [18]:
#Slicing the number of row
df1 = df.loc[0:100]

In [19]:
#Shape of the new dataset
df1.shape

(101, 2)

In [14]:
df1['Neighborhood'].unique()

array(['CollgCr', 'Veenker', 'Crawfor', 'NoRidge', 'Mitchel', 'Somerst',
       'NWAmes', 'OldTown', 'BrkSide', 'Sawyer', 'NridgHt', 'NAmes',
       'SawyerW', 'IDOTRR', 'MeadowV', 'Edwards', 'Timber', 'Gilbert',
       'StoneBr', 'ClearCr'], dtype=object)

In [41]:
#Creating a new column called region 
Region = []

for i in df1['Neighborhood']:
    
    if i == ('CollgCr'or 'Veenker'or 'Crawfor'or 'NoRidge'):
        Region.append("North")
        
    elif i == ('Mitchel'or 'Somerst'or 'NWAmes'or 'OldTown'or 'BrkSide'or 'Sawyer'):
        Region.append("South")
        
    elif i == ('NridgHt'or 'NAmes'or'SawyerW'or 'IDOTRR'or 'MeadowV'):
        Region.append("West")
        
    else :
        Region.append("East")
        
df1['Region'] = Region

In [42]:
df1['Region'].unique()

array(['North', 'East', 'South', 'West'], dtype=object)

In [44]:
#New column created and the Regions assigned correctly
df1.head()

  MSZoning Neighborhood Region
0       RL      CollgCr  North
1       RL      Veenker   East
2       RL      CollgCr  North
3       RL      Crawfor   East
4       RL      NoRidge   East